body{
	font-family: 'Roboto Condensed', sans-serif;
}
.index-box{
	background: rgba(255, 103, 64, 0.80);
	border: 2px solid rgb(255, 103, 64);
	border-radius: 40px;
	color: #FFF;
	padding: 10px 10px;
	text-align: center;
}
.box{
	display: inline;
}