body {
	background-image: url("../img/textura_01.png");
	background-size: 100%;
    background-repeat: repeat;
    min-height: 100%;
    /*overflow-y: hidden;*/
    background-color: #FFFFFF;
}

.fondo-sin-textura {
    background-color: #FF6740 !important;
    background-image: none !important;
}

.form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #FF6740;
}

#form-register .help-block{
    color: #FF0000;
    font-size: 13px;
}

.fondo-naranja{
    background-color: #FF6740;
}

.div-logo-horizontal {
    position: relative;
    background-color: #FFF;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 215px;
    left: -15px;
}

.txt-fugaz-one{
    font-family: 'fugaz-one-regular';
}
.txt-cio-ultrablack{
    font-family: 'clio_ultra_blackultrablack';
}

.div-logo-horizontal-movil {
    position: relative;
    background-color: #FFF;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 200px;
    left: -15px;
}

.navbar-brand{
	height: 80px;
}
.txt-gris{
    color: #4C4C4C;
}
.txt-naranja{
    color: #FF6740;
}

.logo-promo {
	/*max-width: 190px !important;*/
}
.nav>li>a:focus, .nav>li>a:hover{
	background-color: transparent;
}

.nav>li>a span[class~="icon-redes"] {
	font-size: 23px;
	transition: 0.15s ease-in-out;
	-webkit-transition: 0.15s ease-in-out;
	-moz-transition: 0.15s ease-in-out;
	-o-transition: 0.15s ease-in-out;
}
.nav>li>a:hover span[class~="icon-redes"] {
	font-size: 26px;
	transition: 0.15s ease-in-out;
	-webkit-transition: 0.15s ease-in-out;
	-moz-transition: 0.15s ease-in-out;
	-o-transition: 0.15s ease-in-out;
}
a[class~="icon-redes-wrapper"]:hover {
	text-decoration: none;
}

.modal-naranja{
	border-radius: 40px;
	background-color: #FF6740;
}
.modal-cerrar{
	position: absolute;
    width: 80px;
    height: 50px;
    right: 0px;
    color: #FFFFFF;
    font-size: 30px;
}

.sidea{
	background: #FF0000;
}
.sideb{
	background: #00FF00;
}
.txt-azul{
	color: #2d4486;
}
.font-clio-black{
	font-family: 'clio-black';
}

.btn-primax-2,
.btn-primax-2:hover,
.btn-primax-2:active,
.btn-primax-2:focus{
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none !important;
}
.font-10{
    font-size: 11px;
}

#shareBtn{
    position: absolute;
    right: 25%;
    bottom: 28%;
}

#shareBtnMobile{
    position: absolute;
    left: 30%;
    bottom: 17%;
}