/*.div-logo-horizontal {
	background-color: #FFF;
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	border-radius: 12px;
	margin-left: -10px;
}*/
.div-logo-horizontal {
	background-color: #FFF;
	padding-left: 40px;
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	padding-right: 15px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

span[class~="icon-redes"] {
	font-size: 22.5px;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
span[class~="icon-redes"]:hover {
	font-size: 30px;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class~="icon-redes-wrapper"]:hover {
	text-decoration: none;
}

#lower-container {
	background-image: url("../img/textura_02.png");
	background-size: 100%;
    background-repeat: repeat;
	background-color: #FFF;
}
#lower-container-mobile {
	background-image: url("../img/textura_02.png");
	background-size: 100%;
    background-repeat: repeat;
	background-color: #FFF;
}
.note-text {
	color: #999;
	font-family: 'amiko-typeface-bold';
}
.step-text {
	color: #FF6740;
	font-family: 'clio-black-italic';
	font-size: 17.5px;
	text-align: center;
}
.btn-submit {
	border-radius: 20px;
	color: #00539E;
	font-family: 'clio-black-italic';
	font-size: 17.5px;
    width: 100%;
}
.titular-h1{
	font-family: 'fugaz-one-regular';
	text-shadow: 3px 3px 0px #EA513A;
	color: #FFFFFF;
	font-size: 150pt;
}
.titular-h1-mobile{
	font-family: 'fugaz-one-regular';
	text-shadow: 3px 3px 0px #EA513A;
	color: #FFFFFF;
	font-size: 50pt;
}
.titular-h2-mobile{
	font-family: 'clio-black-italic';
	text-shadow: 3px 3px 0px #EA513A;
	color: #FFFFFF;
	font-size: 20pt;
}
.titular-h3{
	font-family: 'clio-black-italic';
	color: #F26743;
	font-size: 20pt;
}
.titular-h3-mobile{
	font-family: 'clio-black-italic';
	color: #F26743;
	font-size: 19pt;
}
.img-center{
	margin: 0 auto;
}
.div-logo-horizontal-mobile {
	background-color: #FFF;
	padding-right: 40px;
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	padding-left: 15px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}