@font-face {
	font-family: 'amiko-typeface-regular';
	src: url('../fonts/amiko-typeface-regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'amiko-typeface-bold';
	src: url('../fonts/amiko-typeface-bold.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'clio-black';
	src: url('../fonts/clio-black.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'clio-black-italic';
	src: url('../fonts/clio-black-italic.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'fugaz-one-regular';
	src: url('../fonts/fugaz-one-regular.ttf');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'clio_ultra_blackultrablack';
    src: url('../fonts/letype_-_clioultrablack-ultrablack-webfont.woff2') format('woff2'),
         url('../fonts/letype_-_clioultrablack-ultrablack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.text-bold-amiko-typeface-bold {
	font-family: 'amiko-typeface-bold';
}