body {
	background-image: url("../img/textura_03.png");
	background-size: 100%;
    background-repeat: repeat;
	background-color: #FFF;
}
.div-logo-horizontal {
	background-color: #FFF;
	padding-bottom: 12.5px;
	border-radius: 12px;
	/*margin-left: -10px;*/
}
.icon-redes-fb:before, .icon-redes-ig:before, .icon-redes-yt:before {
	color: #FF6740;
}
span[class~="icon-redes"] {
	font-size: 22.5px;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
span[class~="icon-redes"]:hover {
	font-size: 30px;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class~="icon-redes-wrapper"]:hover {
	text-decoration: none;
}
#form-header {
	font-family: 'clio_ultra_blackultrablack';
	color: #FF6740;
	font-size: 45px;
}
#form-body {
	color: #4D4D4D;
	font-family: 'clio-black';
}
#form-body select{
	background-color: #FFFFFF;
	border-radius: 20px;
	color: #FF6740;
	text-align: center;
}
.form-label {
	font-size: 20px;
}
#user-terms-accept-label {
	font-size: 11px;
}
label[for="user-bill"] {
	background-color: #FF6740;
	border: 2px solid #FF6740;
	border-radius: 20px;
	color: #FFF;
	cursor: pointer;
	font-family: 'clio-black-italic';
	font-size: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 25px;
	padding-right: 25px;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
label[for="user-bill"]:hover {
	background-color: #FFF;
	border: 2px solid #FF6740;
	color: #FF6740;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
.user-bill {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#form-fb-login {
	background-color: #3b5998;
	border: 2px solid #3b5998;
	color: #FFF;
	font-family: 'Tahoma';
	font-size: 12px;
	/*padding-top: 5.5px;*/
	/*padding-bottom: 5px;*/
	text-align: center;
	width: 100%;
	display: block;
	border-radius: 20px;
}
#form-fb-login>.icon-redes-fb:before {
	color: #FFF;
	font-size: 11px;
}
#form-dummy-button {
	background-color: #FF6740;
	border: 2px solid #FF6740;
	color: #FFF;
	font-family: 'clio-black-italic';
	/*padding-top: 3.5px;*/
	/*padding-bottom: 4px;*/
	width: 100%;
}
#form-submit {
	background-color: #FF6740;
	border-radius: 20px;
	color: #FFF;
	font-family: 'clio-black-italic';
	font-size: 20px;
	height: 46px;
	padding-left: 25px;
	padding-right: 25px;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
#form-submit:hover {
	background-color: #FFF;
	color: #FF6740;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}

.text-amiko-regular {
	font-family: 'amiko-typeface-regular';
}
.text-amiko-bold {
	font-family: 'amiko-typeface-bold';
}
.terms-and-conditions {
	/*bottom: 5px*/
	font-family: 'amiko-typeface-regular';
	font-size: 10px;
	padding-top: 0px;
	/*position: absolute;*/
}
.terms-and-conditions>a:link, .terms-and-conditions>a:visited, .terms-and-conditions>a:hover {
	color: #333;
	text-decoration: underline;
}
.user-input {
	border-top: 0px;
	border-right: 0px;
	border-bottom: 2px solid #555;
	border-left: 0px;
	border-radius: 0px;
	box-shadow: none; 	
}

.modal-dialog{
	width: 70%;
}
#myModalMobile .modal-dialog{
	width: 80%;
	margin: 0 auto;
}
.botonPrimax{
	background-color: #FF6740;
	border: 2px solid #FF6740;
	border-radius: 20px;
    color: #FFF;
    font-family: 'clio-black-italic';
    font-size: 20px;
    height: 46px;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
}
.botonPrimaxMobile{
	background-color: #FF6740;
    border-radius: 20px;
    color: #FFF;
    font-family: 'clio-black-italic';
    font-size: 17px;
    height: 46px;
    /*padding-left: 25px;*/
    /*padding-right: 25px;*/
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
}
.modal-footer{

}
.contAdjuntar{
	max-height: 46px;
}
p.paso-label-mobile{
	margin-bottom: 0;
    line-height: 35px;
}
.inputPrimax{
	padding-left: 0;
}
label{
	margin-bottom: 0;
}
.titular-h3-primax{
	font-weight: bold;
	font-style: italic;
}
.titular-h1-primax{
	color: #FF6740;
	font-weight: bold;
	font-style: italic;
}