@font-face {
  font-family: 'primax-redes';
  src:  url('../fonts/primax-redes.eot?wf0eov');
  src:  url('../fonts/primax-redes.eot?wf0eov#iefix') format('embedded-opentype'),
    url('../fonts/primax-redes.ttf?wf0eov') format('truetype'),
    url('../fonts/primax-redes.woff?wf0eov') format('woff'),
    url('../fonts/primax-redes.svg?wf0eov#primax-redes') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-redes-"], [class*=" icon-redes-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'primax-redes' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-redes-fb:before {
  content: "\e900";
  color: #fff;
}
.icon-redes-ig:before {
  content: "\e901";
  color: #fff;
}
.icon-redes-yt:before {
  content: "\e902";
  color: #fff;
}
