#animated-text {
	color: #FFF;
	font-family: 'amiko-typeface-regular';
	font-size: 16px;
	padding-top: 45px;
	position: relative;
}
#animated-text2 {
	color: #FFF;
	font-family: 'amiko-typeface-regular';
	font-size: 16px;
	padding-top: 45px;
	position: relative;
}
#lower-container {
	background-image: url("../img/textura_02.png");
	background-size: 100%;
    background-repeat: repeat;
	background-color: #FFF;
    bottom: 0;
	/*position: absolute;*/
    /*width: 100%;*/
}
.note-text {
	color: #999;
	font-family: 'amiko-typeface-bold';
}
.step-text {
	color: #FF6740;
	font-family: 'clio-black-italic';
	font-size: 17.5px;
	text-align: center;
}
.btn-submit {
	border: 0;
	border-radius: 20px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	color: #00539E;
	font-family: 'clio-black-italic';
	font-size: 25px;
	transition: 0.15s ease-in-out;
	-webkit-transition: 0.15s ease-in-out;
	-moz-transition: 0.15s ease-in-out;
	-o-transition: 0.15s ease-in-out;
    width: 100%;
    padding-top: 4px;
    padding-bottom:  4px;
    background: #FF6740;
	color: #FFFFFF;
}
.btn-submit:hover {
	transform: scale(1.1);
	transition: 0.15s ease-in-out;
	-webkit-transition: 0.15s ease-in-out;
	-moz-transition: 0.15s ease-in-out;
	-o-transition: 0.15s ease-in-out;
}
.terms-and-conditions {
	bottom: 5px;
	font-family: 'amiko-typeface-regular';
	font-size: 10px;
	padding-top: 0px;
	position: absolute;
}
.terms-and-conditions-mobile {
	font-family: 'amiko-typeface-regular';
	font-size: 10px;
	padding-top: 0px;
}
.terms-and-conditions>a:link, .terms-and-conditions>a:visited, .terms-and-conditions>a:hover, .terms-and-conditions-mobile>a:link, .terms-and-conditions-mobile>a:visited, .terms-and-conditions-mobile>a:hover {
	color: #333;
	text-decoration: underline;
}
#lower-container-mobile {
	background-color: #FFF;
}
.mobile-label {
	color: #FF6740;
	font-family: 'fugaz-one-regular';
	font-size: 25px;
}
.paso-label-mobile {
	color: #FF6740;
	font-family: 'clio-black-italic';
	font-size: 20px;
}
#lower-footer-mobile {
	background-color: #ccc;
}
.mobile-logo-pointer {
	max-width: 60%;
}
.note-text-mobile {
	color: #999;
	font-family: 'amiko-typeface-bold';
	font-size: 10px;
}
@media (min-width:1440px) {
	.logo-promo {
		max-width: 90%;
	}
	#animated-text {
		font-size: 30px;
		padding-top: 70px;
	}
	#animated-text2 {
		font-size: 30px;
		padding-top: 70px;
	}
	.animated-img {
		max-width: 100%;
	}
}
@media (max-width:1439px) and (min-height:720px) {
	.logo-promo {
		max-width: 75%;
	}
	#animated-text {
		font-size: 25px;
		padding-top: 60px;
	}
	#animated-text2 {
		font-size: 25px;
		padding-top: 60px;
	}
	.animated-img {
		max-width: 100%;
	}

}
@media (max-width:1439px) and (max-height:719px) {
	.logo-promo {
		max-width: 75%;
	}
	#animated-text {
		font-size: 16px;
		padding-top: 15px;
	}
	#animated-text2 {
		font-size: 16px;
		padding-top: 15px;
	}
	.animated-img {
		max-width: 20%;
	}
}
@media (max-width:1199px) {
	.logo-promo {
		max-width: 100%;
	}
	#animated-text {
		font-size: 16px;
		padding-top: 60px;
	}
	#animated-text2 {
		font-size: 16px;
		padding-top: 60px;
	}
	.animated-img {
		max-width: 20%;
		padding-bottom: 5px;
	}
}
@media (max-width:992px) and (min-height:481px) {
	.logo-promo {
		max-width: 92%;
	}
	#animated-text {
		font-size: 18px;
		min-height: 325px;
		padding-top: 95px;
	}
	#animated-text2 {
		font-size: 18px;
		min-height: 325px;
		padding-top: 95px;
	}
}
@media (max-width:992px) and (max-height:480px) {
	.logo-promo {
		max-width: 80%;
	}
	#animated-text {
		font-size: 12px;
		min-height: 325px;
		padding-top: 95px;
	}
	#animated-text2 {
		font-size: 12px;
		min-height: 325px;
		padding-top: 95px;
	}
}
@media (max-width:767px) {
	body {
		overflow-y: scroll;
	}
	.logo-promo {
		max-width: 100%;
	}
	#animated-text {
		font-size: 20px;
		padding-top: 50px;
		position: static;
	}
	#animated-text2 {
		font-size: 20px;
		padding-top: 50px;
		position: static;
	}
	.animated-img {
		max-width: 100%;
	}
	#lower-container {
		position: relative;
		width: auto;
	}
	.overlay-text-mobile{
		font-size: 60px;
	}
}
@media (max-width:1200px) and (min-width:992px) {

	.btn-submit{
		font-size: 13px;
	}
}
.bg-blanco{
	background: #FFFFFF;
}

#animated-text{
	font-size: 15px;
	min-height: 220px;
	margin-top: -120px;
}
#animated-text2{
	font-size: 15px;
	min-height: 220px;
	margin-top: -120px;
}

@media (max-width:1200px) and (min-width:992px){
	.logo-promo{
		max-width: 245px;
	}
}
@media (max-width:1366px) and (min-height: 768px){
	.logo-promo{
		margin-top: 35px;
	}
}
@media (max-width:1024px) and (min-height: 768px) {
	.logo-promo{
		margin-top: 55px;
	}
}
p.paso-label-mobile{
	margin-bottom: 0;
}
@media (max-width:1920px) and (min-width:1440px){

	.logo-promo{
		max-width: 450px;
	}
}
.linkTerminos{
	color: #808080;
	text-decoration: underline;
}
@media (max-width:1830px) and (min-width:1280px){
	.btn-submit{
		font-size: 15px;
	}
}
@media (max-width:1280px) and (min-width:820px){
	.btn-submit{
		font-size: 15px;
	}
}
#lower-container-mobile .div-logo-horizontal{
	border-radius: 0;
}
.montarImg{
	width: 20%;
	position: absolute;
	left: 20%;
	top: 50%;
}
.carouselMob{
	min-height: 500px;
	/*background-color:#FF6740;*/
}
.carouselMob .montarImg{
	width: 80%;
	position: absolute;
	/*left: 20%;*/
	right: 0;
	left: 0;
	margin: 0 auto;
	top: 50%;
}
.carouselMob .item{
	min-height: 500px;
}
.montarImgMedalla{
	width: 10%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -12%;
	margin: 0 auto;
}
.carouselMob .montarImgMedalla{
	width: 30%;
	bottom: -10%;
}
@media (max-width:800px) and (min-width:360px){
	.btn-submit{
		font-size: 15px;
	}
	body{
		background-color:#FF6740;
	}
}
/*Slide con fade*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.overlay-text-web{
	color: #FFE;
	font-size: 48px;
	position: absolute;
	top: 17%;
	left: 10%;
	z-index: 1;
	font-family: 'fugaz-one-regular';
	text-shadow: 3px 1px 2px rgba(2, 2, 2, 0.33);
	line-height: 60px;
}
.overlay-text-mobile{
	color: #FFE;
	font-family: 'fugaz-one-regular';
	text-shadow: 3px 1px 2px rgba(2, 2, 2, 0.33);
	font-size: 80px;
	font-style: italic;
	line-height: 1;
	position: absolute;
	top: 60%;
	z-index: 1;
}
@media (min-width:1600px) {
	.overlay-text-web{
		font-size: 65px;
	}
}
@media (max-width:1199px) {
	.overlay-text-web{
		font-size: 40px;
	}
}
@media (max-width:767px) {
	.overlay-text-mobile{
		font-size: 60px;
	}
}
@media (max-width:479px) {
	.overlay-text-mobile{
		font-size: 25px;
		top: 30%;
	}
}