body {
    font-family: 'Roboto Condensed', sans-serif;
}
.btn-login {
    border-radius: 4px;
    border-color: #ff9980;
    background-color: #FF6740;
    color: #FFF;
    transition: 0.15s;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
}
.btn-login:hover {
	background-color: #ff8566;
	color: #FFF;
	transition: 0.15s;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
}
.red {
    color: #ff0000;
}
.required {
    position: absolute;
    right: 2%;
    color: #ff0000;
    font-size: 10px;
}